@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

h1 {
  color: white;
  font-weight: 800;
  font-size: 40px;
}

h2 {
  font-weight: 400;
}

.logbutton {
  background-color: #e7eef5;
  border: none;
  border-radius: 15px;
  padding: 0px 25px;
  height: 25px;
  margin: 20px 0px;
  position: relative;
  line-height: normal;
  &--blue {
    background-color: #2a384c;
  }
}

.loglink {
  color: #2a384c;
  &--light {
    color: #e7eef5;
  }
}
