@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

h1 {
  color: white;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 30px #000000;
}

h2 {
  font-weight: 400;
}

.logbutton {
  background-color: #e7eef5;
  border: none;
  border-radius: 15px;
  padding: 0px 25px;
  height: 25px;
  margin: 20px 0px;
  position: relative;
  line-height: normal;
  &--blue {
    background-color: #2a384c;
  }
}

.loglink {
  color: #2a384c;
  &--light {
    color: #e7eef5;
  }
}

input,
select,
textarea {
  width: 100%;
  margin-bottom: 10px;
}

select {
  padding: 5px;
}

.formbutton {
  background-color: #2a384c;
  border: none;
  width: 100%;
  color: #fff;
  padding: 5px;
  margin-top: 10px;
}

.formdiv {
  margin: auto;
  width: 50%;
  min-height: 70vh; /* NB RESPONSIVE! */
  max-width: 510px;
}
