@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800&display=swap");
@import "partials/places";
@import "partials/hero";
@import "partials/shotel";
@import "partials/general";

input,
select,
textarea {
  width: 100%;
  margin-bottom: 10px;
}

input[type="number"] {
  border: inherit;
}

select {
  padding: 5px;
}

.formbutton {
  background-color: #2a384c;
  border: none;
  width: 100%;
  color: #fff;
  padding: 5px;
  margin-top: 10px;
}

.formdiv {
  margin: auto;
  width: 50%;
  min-height: 70vh; /* NB RESPONSIVE! */
  max-width: 510px;
}

// layout
@media screen and (min-width: 1600px) {
  .site-layout-content {
    margin: 0 50px;
  }
}

@media screen and (min-width: 1800px) {
  .site-layout-content {
    margin: 0 100px;
  }
}
