// Booking and contact styles - Enquiries page
.bookingname,
.contactname {
  font-weight: 500;
}

.bookingcon,
.contactcon {
  background-color: #e7eef5;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
