// General form styles
input,
select,
textarea {
  width: 100%;
  margin-bottom: 10px;
}

input[type="number"],
input[type="password"] {
  border: 1px solid rgb(118, 118, 118);
  border-radius: 2px;
  padding: 2px;
}

select {
  padding: 5px;
}

.formbutton {
  background-color: #2a384c;
  border: none;
  width: 100%;
  color: #fff;
  padding: 5px;
  margin-top: 10px;
}

.formdiv {
  margin: auto;
  width: 50%;
  max-width: 510px;
}

@media screen and (max-width: 575px) {
  .formdiv {
    width: 100%;
  }
}

// two input fields on one line styles
.formhalf1 {
  display: inline-block;
  width: 50%;
  padding-right: 2.5%;
}

.formhalf2 {
  display: inline-block;
  width: 50%;
  padding-left: 2.5%;
}
