body {
  font-family: "Raleway", sans-serif;
  color: #2a384c;
}

h1 {
  color: white;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 30px #000000;
}

h2 {
  font-weight: 400;
  color: #2a384c;
}

h3 {
  color: #2a384c;
}

.logbutton {
  background-color: #e7eef5;
  border: none;
  border-radius: 15px;
  padding: 0px 25px;
  height: 25px;
  margin: 20px 0px;
  position: relative;
  line-height: normal;
  color: #2a384c;
  &:hover {
    background-color: #5a6f8d;
    color: #e7eef5;
    transition: color 0.5s;
  }
  &--blue {
    background-color: #2a384c;
    color: #e7eef5;
    &:hover {
      background-color: #e7eef5;
      color: #2a384c;
      transition: color 0.7s;
    }
  }
}

a:hover {
  color: #98aac4;
  transition: color 0.3s;
}

.h3link:hover {
  color: #98aac4;
  transition: color 0.3s;
}

.loglink {
  color: #2a384c;
  &--light {
    color: #e7eef5;
  }
}
