h1 {
  color: white;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 30px #000000;
}

.heroimg {
  max-height: 750px;
  min-height: 600px;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 460px) {
  h1 {
    width: 90%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 25px;
    width: 90%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 325px) {
  h1 {
    font-size: 25px;
    width: 70%;
    text-align: left;
    margin-left: 100px;
  }
}
@media screen and (max-width: 300px) {
  h1 {
    font-size: 25px;
    width: 70%;
    text-align: left;
    margin-left: 120px;
  }
}
@media screen and (max-width: 280px) {
  h1 {
    font-size: 25px;
    width: 70%;
    text-align: left;
    margin-left: 130px;
  }
}
@media screen and (max-width: 270px) {
  h1 {
    font-size: 25px;
    width: 70%;
    text-align: left;
    margin-left: 140px;
  }
}
@media screen and (max-width: 255px) {
  h1 {
    font-size: 25px;
    width: 70%;
    text-align: center;
    margin-left: 120px;
  }
}
