// General hero styles
h1 {
  color: white;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 30px #000000;
}

.heroimg {
  max-height: 750px;
  min-height: 600px;
  object-fit: cover;
}

// Media queries for hero, workaround to make it responsive
@media screen and (max-width: 800px) {
  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 460px) {
  h1 {
    width: 90%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 25px;
    width: 70%;
    margin-left: 100px;
  }
}
@media screen and (max-width: 300px) {
  h1 {
    text-align: left;
    margin-left: 150px;
  }
}
@media screen and (max-width: 285px) {
  h1 {
    width: 60%;
    margin-left: 160px;
  }
}
@media screen and (max-width: 275px) {
  h1 {
    margin-left: 170px;
  }
}
@media screen and (max-width: 255px) {
  h1 {
    width: 70%;
    text-align: center;
    margin-left: 150px;
  }
}
