// Navigation styles
#burger,
#burger2 {
  width: 45px;
  display: none;
}
.logbutton {
  &-menu {
    @extend .logbutton;
  }
}
.header {
  position: relative;
  &-menu {
    @extend .header;
  }
}
.header2 {
  position: relative;
  &-menu {
    @extend .header2;
  }
}

// Responsive layout styles for bigger screens
@media screen and (min-width: 1600px) {
  .site-layout-content {
    margin: 0 50px;
  }
}

@media screen and (min-width: 1800px) {
  .site-layout-content {
    margin: 0 100px;
  }
}

// Responsive layout styles for smaller screens
@media screen and (max-width: 575px) {
  .site-layout-content {
    text-align: center;
  }
}

// Responsive navigation styles
@media screen and (max-width: 875px) {
  .layout {
    background-color: #fff;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  .layout2 {
    background-color: #2a384c;
    margin-top: 60px;
  }
  .header {
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    height: fit-content;
    justify-content: space-between;
    z-index: 10;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(4px);
    &-menu {
      @extend .header;
      padding-top: 20px;
      padding-bottom: 50px;
      height: auto; //mobile
    }
  }
  .header2 {
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-between;
    z-index: 10;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #2a384c;
    &-menu {
      @extend .header2;
      padding-bottom: 50px;
      padding-top: 20px;
      height: auto; //mobile
    }
  }
  .logbutton {
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
  }
  .links {
    margin-top: 40px;
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
    &-menu {
      @extend .links;
      display: flex;
    }
  }
  .navLogo {
    position: absolute;
    top: 0;
    left: 40px;
  }
  .navLogo2 {
    position: absolute;
    top: 0;
    left: 40px;
  }
  .navToggle {
    position: absolute;
    top: 12px;
    right: 40px;
    z-index: 5;
  }
  #burger,
  #burger2 {
    display: inline;
  }
}
