.hoteldiv {
  max-width: 100%;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #2a384c;
}

.hotelimg {
  width: 385px;
  height: 275px;
  object-fit: cover;
  object-position: center center;
}

.hotelinfo {
  color: inherit;
  line-height: 1;
}

.filter {
  border: none;
  border-bottom: 1px solid #2a384c;
}

.filterdiv {
  width: 150px;
  padding-top: 10px;
}

.titlesearch {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.biggertext {
  font-size: 20px;
  font-weight: 400;
}

.line {
  width: 40px;
  float: left;
  border: none;
  height: 0.5px;
  background-color: #2a384c;
}

.price {
  text-align: right;
}

.taxes {
  text-align: right;
}

.text {
  font-size: 16px;
}

.extras {
  margin-top: 10px;
}
