// search styles
.filter {
  border: none;
  border-bottom: 1px solid #2a384c;
}

.filterdiv {
  width: 150px;
  padding-top: 5px;
}

.titlesearch {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

// Places styles
.hoteldiv {
  max-width: 100%;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #2a384c;
}

.hotelimg {
  width: 385px;
  height: 275px;
  object-fit: cover;
  object-position: center center;
}

.hotelinfo {
  color: inherit;
  line-height: 1;
}

.biggertext {
  font-size: 20px;
  font-weight: 400;
}

.line {
  width: 40px;
  float: left;
  border: none;
  height: 0.5px;
  background-color: #2a384c;
}

.price {
  text-align: right;
}

.taxes {
  text-align: right;
}

.text {
  font-size: 16px;
}

.extras {
  margin-top: 10px;
}

// Responsive styles
@media screen and (max-width: 575px) {
  .price,
  .taxes,
  .hoteldiv {
    text-align: center;
  }
  .hoteldiv {
    width: 100%;
  }
  .line {
    float: none;
  }
  .ant-row {
    display: block;
  }
  .text {
    margin-top: 20px;
  }
  .searchdiv {
    text-align: left;
  }
}

@media screen and (max-width: 420px) {
  .titlesearch {
    flex-direction: column;
  }
  .filterdiv {
    margin: 0 auto;
  }
  .searchdiv {
    text-align: center;
  }
}
