// Specific Place styles
.splaceimg {
  width: 600px;
  height: 600px;
  object-fit: cover;
  object-position: center center;
}

.bookingdiv {
  width: 250px;
  margin-top: 30px;
  &--center {
    font-weight: 500;
  }
}

// Responsive
@media screen and (max-width: 575px) {
  .bookingdiv {
    margin: 0 auto;
  }
  .site-input-group-wrapper {
    margin: 0 auto;
  }
  .col2 {
    margin: 10px 0px;
  }
  .bookingdiv--price {
    margin-top: 30px;
  }
}
